.admin-dashboard {
  display: grid;
  grid-template-rows: 4rem 1fr;
  height: 100%;
  width: 100%;
  
  .admin-dashboard-view-switch {
    display: flex;
    align-items: center;
    background: var(--card-clr);
    padding-left: 1rem;
    gap: calc(var(--gap) * 3);

    label {
      display: flex;
      align-items: center;
      color: var(--font-clr);

      input[type="radio"] {
        height: 15px;
        width: 15px;
      }
    }
  }

  .admin-functions-grid {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--gap);
    padding: var(--p-block) var(--p-inline);
    overflow: hidden;

    .admin-function-card {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--card-clr);
      border-radius: 1rem;
      box-shadow: var(--shadow), var(--shadow-inset);
      cursor: pointer;
      padding: var(--p-block) var(--p-inline);
      scale: 1;
      transition: scale 150ms ease-in-out;

      h3 {
        color: var(--font-clr);
      }
    }

    .admin-function-card:hover,
    .admin-function-card:focus-visible {
      box-shadow: var(--shadow), var(--shadow-inset), var(--shadow-inset-hl);
      scale: 1.02;
    }
  }

  .user-stats-dashboard {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) + 1rem);
    padding: var(--p-block) var(--p-inline);

    .stats-headers-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      h3 {
        position: relative;
        text-align: center;
        color: var(--font-clr);
        cursor: pointer;
      }
      
      h3::after {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0%;
        scale: 0 1;
        height: 2px;
        width: 100%;
        background: var(--thistle-03);
        transition: scale 300ms ease-in-out;
        transform-origin: center;
      }

      & h3:hover::after,
      & h3:focus-within::after {
        scale: 1 1;
      }

      & h3.displayed::after {
        scale: 1 1;
        background: var(--thistle-07);
      }
    }

    .stats-cards-wrapper {
      width: 100%;
      height: 100%;
      display: flex;

      .stats-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: opacity 200ms ease-in-out,
                    width 200ms ease-in-out;

        .stats-container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          background: var(--card-clr);
          border-radius: 1rem;
          box-shadow: var(--shadow), var(--shadow-inset);

          .filter-btn-wrapper {
            position: absolute;
            left: 1rem;
            top: 1rem;
            display: flex;
            gap: var(--gap);
            
            label {
              display: flex;
              align-items: center;
              gap: var(--gap);

              input[type="radio"] {
                height: 20px;
                width: 20px;
              }
            }
          }

          .filter-options-wrapper {
            position: absolute;
            right: 1rem;
            top: 4.5rem;
            
            .filter-options-inner {
              display: flex;
              gap: var(--gap);

              .filter-category-options-wrapper {
                display: flex;
                gap: calc(var(--gap) * 2);
              }
            }
          }
        }
      }

      .stats-card.hidden {
        width: 0%;
        overflow: hidden;
        opacity: 0;
      }
    }
  }
}

.admin-dashboard.actions {
  .admin-functions-grid {
    display: flex;
  }

  .user-stats-dashboard {
    display: none;
  }
}
