#home-page-container {
  position: relative;
  font-family: var(--ff-400);
  width: 100vw;
  height: 100vh;

  background: var(--bg-clr);
  color: var(--font-clr);

  display: grid;
  grid-template-columns: 150px 6fr;
  grid-template-rows: 1fr 6fr;
  transition: grid-template-columns 300ms ease-in-out;
}

#home-page-container.hide {
  grid-template-columns: 0px 6fr;
}
