#create-tribe-container {
  & .yapp-form {
    
    & .form-border {

      & textarea.create-tribe-input {
        margin-bottom: 2rem;
      }

      & .browse-btn-wrapper {
        position: relative;
        width: 100%;
        height: 60px;
        
        & .create-tribe-input[type="file"] {
          position: absolute;
          opacity: 0; 
          top: 0;
          left: 0;
          height: 60px;
          z-index: 5;
        }

        & .visible-browse-btn {
          position: absolute;
          padding: var(--p-block) var(--p-inline);
          border-radius: 1rem;
          box-shadow: var(--shadow), var(--shadow-inset);
          background: var(--card-clr);
        }

        & .attached-icon-display {
          position: absolute;
          top: 1.1vh;
          left: calc(80px + 2vw);
        }
      }
    }

    & .radio-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: var(--card-clr);
      border-radius: 1rem;
      padding: var(--p-block) var(--p-inline);
      margin-block: 1rem;
      box-shadow: var(--shadow), var(--shadow-inset), var(--shadow-inset-hl);

      & label {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #submit-new-tribe {
    margin-block: var(--margin-mid);
  }
}

