.friends-container {
  --container-height: calc(100vh - var(--header-height));
  height: var(--container-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--p-block) var(--p-inline);

  & .friends-container-inner {
    --fci-height: calc(var(--container-height) - var(--p-block));
    height: var(--fci-height);
    width: 100%;
  
    & .friends-list-scroll-wrapper {
      height: var(--fci-height);
      width: 100%;
      overflow-y: scroll;
      scrollbar-gutter: stable;

      .friends-list {
        min-height: var(--fci-height);
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        width: 99%;

        .friends-list-header {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          justify-content: space-between;
          padding: 1rem;

          & h3:last-child {
            text-align: right;
          }
        }

        .friend-card {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          border: 1px solid var(--thistle-07);
          border-radius: 1rem;
          cursor: pointer;

          .friend-tribe-active-status {
            text-align: right;
          }

          .friend-active-status.active,
          .friend-tribe-active-status.active {
            color: var(--success-clr);
          }

          .friend-active-status.inactive,
          .friend-tribe-active-status.inactive {
            color: var(--error-clr);
          }
        }

        .friend-card:hover,
        .friend-card:focus-visible {
          box-shadow: var(--shadow), var(--shadow-inset);
        }
      }
    }
  }
}
