.friends-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--p-block) var(--p-inline);

  .friends-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    height: 100%;

    .friends-list-header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      & h3:last-child {
        text-align: right;
      }
    }

    .friend-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border: 1px solid var(--thistle-07);
      border-radius: 1rem;

      .friend-active-status {
        text-align: right;
      }

      .friend-active-status.active {
        color: var(--success-clr);
      }

      .friend-active-status.inactive {
        color: var(--error-clr);
      }
    }
  }
}
