.yapp-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%; 

  padding: var(--p-block) var(--p-inline);
  border-radius: 1rem;
  box-shadow: var(--shadow-inset), var(--shadow);
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  & .yapp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    width: 100%;
    padding: var(--p-block) var(--p-inline);
  }

  & input[type="text"],
  & input[type="submit"],
  & textarea, 
  & button {
    background: var(--card-clr);
    color: var(--thistle);
    border-radius: 1rem;
    box-shadow: var(--shadow-inset), var(--shadow);
    min-height: 50px;
  }

  & input[type="radio"] {
    min-height: 25px;
  }

  & input[type="submit"] {
    max-width: 200px;
  }

  & input, 
  & textarea {
    padding-left: 1rem;
    width: 100%;
  }

  & textarea {
    height: 120px;
    padding: 1rem;
  } 

  & button {
    max-width: 200px;
    min-width: fit-content;
    min-height: 50px;
    padding: var(--p-block) var(--p-inline);
  }

  & label {
    display: flex;
    margin-bottom: calc(var(--p-block) / 3);
    margin-top: var(--p-block);
    padding-block: var(--p-block);
  }

  & .form-title {
    text-align: center;
    padding-block: var(--p-block);
  }

  & .form-border {
    border-radius: 1rem;
    box-shadow: var(--shadow-inset-hl), var(--shadow);
    padding: var(--p-block) var(--p-inline);
  }

  & .form-submit-input {
    margin-block: var(--margin-mid);
    height: 50px;
    width: 200px;
    padding: var(--p-block) var(--p-inline);
  }
}
