.user-messages-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  & .user-messages-sidebar {
    & .options-list {
      list-style: none;
      padding-left: 0px;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: var(--gap);
      max-height: 65px;

      & .options-list-item {
        position: relative;
        color: var(--font-clr);
        text-align: center;
        cursor: pointer;
        min-width: 15rem;
      }

      & .options-list-item::after {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0%;
        scale: 0 1;
        height: 2px;
        width: 100%;
        background: var(--thistle-03);
        transition: scale 300ms ease-in-out;
        transform-origin: center;
      }

      & .options-list-item:hover::after,
      & .options-list-item:focus-within::after {
        scale: 1 1;
      }

      & .options-list-item.displayed::after {
        scale: 1 1;
        background: var(--thistle-07);
      }
    }
  }

  & .inbox-messages-outer,
  & .outbox-messages-outer {
    --bmo-height: calc(100vh - calc(150px + calc(75px + var(--p-block))));
    height: var(--bmo-height);
    max-height: var(--bmo-height);

    display: flex;
    flex-direction: column;
    position: relative;
    transition: height 300ms ease-in-out;
    
    & .messages-scroll-wrapper {
      min-height: var(--bmo-height);
      max-height: var(--bmo-height);
      overflow-y: scroll;

      & .inbox-messages-inner,
      & .outbox-messages-inner {
        --box-height: calc(var(--bmo-height) - 50px);
        min-height: var(--box-height);
        padding-inline: calc(var(--p-inline) / 2);
        padding-bottom: var(--p-block);
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        & .user-message-wrapper {
          display: grid;
          grid-template-columns: 100px 1fr 1fr 1fr 100px;
          grid-template-rows: 0px 1fr 0px;
          align-items: center;
          padding-inline: var(--p-inline);
          padding-block: var(--p-block);
          background: var(--card-clr);
          border-radius: 1rem; 
          transition: grid-template-rows 300ms ease-in-out;
          overflow: hidden;

          & .user-message-sender,
          & .user-message-receiver {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
          }

          & .user-message-content {
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }

          & .user-message-timestamp {
            grid-row: 2 / 3;
            grid-column: 5 / 6;
            opacity: 0.7;
            text-align: right;
          }

          & .expanded-msg-btn-container {
            grid-row: 1 / 2;
            grid-column: 4 / 6;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            opacity: 0;
            height: 0px;
            overflow: hidden;
            transition: opacity 150ms ease-in-out,
                        height 150ms ease-in-out;
            transition-delay: 300ms;
          }

          & .reply-chain-container {
            grid-row: 3 / 4;
            grid-column: 1 / 6;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: stretch;
            background: var(--bg-clr);
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            transition-delay: 300ms;

            & .reply-message-wrapper {
              display: grid;
              grid-template-columns: 100px 1fr 100px;
              align-items: center;
              width: 100%;
              padding-left: var(--p-inline);
              padding-block: var(--p-block);
              background: var(--card-clr);

              & [class^=reply-message-] {
                grid-row: 2 / 3;
              }

              & .reply-message-sender {
                grid-column: 1 / 2;
              }

              & .reply-message-content {
                grid-column: 2 / 3;
              }

              & .reply-message-timestamp {
                text-align: right;
                opacity: 0.7;
                grid-column: 3 / 4;
              }
            }
          }
        }
      }

      & .user-message-wrapper.expanded {
        border-block: 2px solid var(--thistle-07);
        grid-template-rows: 50px auto 1fr;

        & .expanded-msg-btn-container,
        & .reply-chain-container {
          opacity: 1;
        }

        & .expanded-msg-btn-container {
          height: auto;
        }
      }
    }
  }   
} 
