.user-messages-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  
  --topbar-height: 65px;

  & .user-messages-topbar {
    & .options-list {
      list-style: none;
      padding-left: 0px;
      padding-bottom: 1rem;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: var(--gap);
      max-height: var(--topbar-height);
      min-height: var(--topbar-height);

      & .options-list-item {
        position: relative;
        color: var(--font-clr);
        text-align: center;
        cursor: pointer;
        min-width: 15rem;
      }

      & .options-list-item::after {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0%;
        scale: 0 1;
        height: 2px;
        width: 100%;
        background: var(--thistle-03);
        transition: scale 300ms ease-in-out;
        transform-origin: center;
      }

      & .options-list-item:hover::after,
      & .options-list-item:focus-within::after {
        scale: 1 1;
      }

      & .options-list-item.displayed::after {
        scale: 1 1;
        background: var(--thistle-07);
      }
    }
  }

  & .inbox-messages-outer,
  & .outbox-messages-outer {
    --bmo-height: calc(100vh - 
                    calc(var(--header-height) + 
                    calc(var(--topbar-height) + 
                    calc(var(--p-block) + 4px)
                  )));
    --searchbar-height: 45px;

    height: var(--bmo-height);
    max-height: var(--bmo-height);

    display: flex;
    flex-direction: column;
    position: relative;
    transition: height 300ms ease-in-out;
    
    & .searchbar-wrapper {
      height: var(--searchbar-height);
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 2rem;
    }

    & .messages-scroll-wrapper {
      min-height: calc(var(--bmo-height) - var(--searchbar-height));
      max-height: calc(var(--bmo-height) - var(--searchbar-height));
      width: 100%;
      overflow-y: scroll;
      scrollbar-gutter: stable;

      & .inbox-messages-inner {
        & .message-wrapper {
          grid-template-columns: 100px 1fr 1fr 1fr 100px;
        }
      }

      & .outbox-messages-inner {
        & .message-wrapper {
          grid-template-columns: 150px 1fr 1fr 1fr 100px;
        }
      }

      & .inbox-messages-inner,
      & .outbox-messages-inner {
        --box-height: calc(var(--bmo-height) - 50px);
        min-height: var(--box-height);
        padding-inline: calc(var(--p-inline) / 2);
        padding-bottom: var(--p-block);
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        & .message-wrapper:hover {
          outline: 1px solid var(--lemon-chiffon-03);
        }

        & .message-wrapper {
          display: grid;
          grid-template-columns: max-content 1fr 1fr 1fr 100px;
          grid-template-rows: 0px 1fr 0px;
          padding-inline: var(--p-inline);
          padding-block: var(--p-block);
          background: var(--card-clr);
          outline: 1px solid transparent;
          border-radius: 1rem; 
          transition: grid-template-rows 300ms ease-in-out,
                      outline 150ms ease-in-out;
          overflow: hidden;

          & .user-message-sender,
          & .user-message-receiver {
            padding-right: 1rem;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
          }

          & .user-message-receiver {
            color: var(--font-clr-05);
          }

          & .user-message-content {
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 25px;
            padding: 0px;
            border-radius: 0px;
            transition: background 500ms ease-in-out,
                        padding 300ms ease-in-out,
                        border-radius 300ms ease-in-out,
                        max-height 200ms ease-in-out;
          }

          & .user-message-timestamp {
            grid-row: 2 / 3;
            grid-column: 5 / 6;
            opacity: 0.7;
            text-align: right;
          }

          & .expanded-msg-btn-container {
            grid-row: 1 / 2;
            grid-column: 4 / 6;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            opacity: 0;
            height: 0px;
            overflow: hidden;
            transition: opacity 150ms ease-in-out,
                        height 150ms ease-in-out;
            transition-delay: 300ms;

            & button {
              background: var(--bg-clr);
              color: var(--font-clr);
              border: 1px solid var(--thistle-07);
              box-shadow: var(--shadow), var(--shadow-inset);
              border-radius: 1rem;
              padding: calc(var(--p-block) / 2) calc(var(--p-inline) / 2);
            }
          }

          & .reply-chain-container {
            grid-row: 3 / 4;
            grid-column: 1 / 6;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: stretch;
            background: var(--bg-clr);
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            transition-delay: 300ms;

            & .reply-message-wrapper {
              display: grid;
              grid-template-columns: 100px 1fr 100px;
              align-items: center;
              width: 100%;
              padding-left: var(--p-inline);
              padding-block: var(--p-block);
              background: var(--card-clr);

              & [class^=reply-message-] {
                grid-row: 2 / 3;
              }

              & .reply-message-sender {
                grid-column: 1 / 2;
              }

              & .reply-message-content {
                grid-column: 2 / 3;
                overflow: hidden;
                text-overflow: ellipsis;
                background: var(--card-clr);
                max-height: 25px;
                padding: 0px;
                border-radius: 0px;
                transition: background 300ms ease-in-out,
                            padding 300ms ease-in-out,
                            border-radius 300ms ease-in-out,
                            max-height 200ms ease-in-out;
              }

              & .reply-message-timestamp {
                text-align: right;
                opacity: 0.7;
                grid-column: 3 / 4;
              }
            }
            & .reply-message-wrapper.expanded {
              & .reply-message-content {
                background: var(--bg-clr);
                max-height: 2000px;
                padding: 1rem;
                border-radius: 1rem;
              }
            }
          }
        }
      }

      & .message-wrapper.hidden {
        display: none;
      }

      & .message-wrapper.expanded {
        border-block: 2px solid var(--thistle-07);
        grid-template-rows: 50px auto 1fr;

        & .expanded-msg-btn-container,
        & .reply-chain-container {
          opacity: 1;
        }

        & .expanded-msg-btn-container {
          height: auto;
        }

        & .user-message-content {
          padding: 1rem;
          border-radius: 1rem;
          max-height: 2000px;
          background: var(--bg-clr);
        }
      }
    }
  }   

  & .send-message-outer {
    --smo-height: calc(100vh - calc(var(--header-height) + var(--topbar-height)));
    height: var(--smo-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--p-block) var(--p-inline);
    

    & input[type="text"],
    & textarea {
      background: var(--card-clr);
      color: var(--thistle);
      border-radius: 1rem;
      box-shadow: var(--shadow-inset), var(--shadow);
    }

    & .send-message-inner {
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 35px 1fr 50px;
      gap: var(--gap);

      & .send-message-receiver-wrapper {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        gap: calc(var(--gap) * 2);

        & input.message-receiver-input {
          padding: 1rem;
          width: 100%;
          height: 35px;
        }

        & input.hidden {
          display: none;
        }

        & .message-receiver-name{
          opacity: 1;
        }

        & .message-receiver-name.hidden {
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }
      }

      & .send-message-ta {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
        padding: var(--p-block) var(--p-inline);
      }

      & button {
        grid-row: 3 / 4;
      }

      & .send-message-btn {
        grid-column: 2 / 3;
      }

      & .cancel-message-btn {
        grid-column: 4 / 5;
      }
    }
  }

  & .reply-view-outer {
    --rvo-height: calc(100vh - calc(var(--header-height) + var(--topbar-height)));
    height: var(--rvo-height);
    display: flex;
    flex-direction: column;
    background: var(--card-clr);

    & .receiver-info-wrapper {
      display: flex;
      gap: var(--gap);
      width: 100%;
      padding-block: 1rem;
      padding-left: 2rem;
    }

    & .reply-wrapper {
      height: calc(var(--rvo-height) - 50px);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 50px;
      gap: var(--gap);
      padding: var(--p-block) var(--p-inline);

      & #reply-text {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        padding: var(--p-block) var(--p-inline);
        box-shadow: var(--shadow), var(--shadow-inset);
        border-radius: 1rem;
        color: var(--font-clr);
        background: var(--bg-clr);
      }

      & .send-reply-btn {
        grid-column: 2 / 3;
      }

      & .cancel-reply-btn {
        grid-column: 4 / 5;
      }
    }
  }
} 
