.notifications-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  
  --filter-bar-height: 65px;

  & .filter-bar {
    & .filter-list {
      list-style: none;
      padding-left: 0px;
      padding-bottom: 1rem;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: var(--gap);
      max-height: var(--filter-bar-height);
      min-height: var(--filter-bar-height);

      & .filter-list-option {
        position: relative;
        color: var(--font-clr);
        text-align: center;
        cursor: pointer;
        min-width: 15rem;
      }

      & .filter-list-option::after {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0%;
        scale: 0 1;
        height: 2px;
        width: 100%;
        background: var(--thistle-03);
        transition: scale 300ms ease-in-out;
        transform-origin: center;
      }

      & .filter-list-option:hover::after,
      & .filter-list-option:focus-within::after {
        scale: 1 1;
      }

      & .filter-list-option.displayed::after {
        scale: 1 1;
        background: var(--thistle-07);
      }
    }
  }

  & .notifications-outer {
    --no-height: calc(100vh - 
                    calc(var(--header-height) + 
                    calc(var(--filter-bar-height) + 
                    calc(var(--p-block) + 4px
                  ))));

    height: var(--no-height);
    max-height: var(--no-height);

    display: flex;
    flex-direction: column;
    position: relative;
    transition: height 300ms ease-in-out;

    & .notifications-scroll-wrapper {
      min-height: var(--no-height);
      max-height: var(--no-height);
      width: 100%;
      overflow-y: scroll;
      scrollbar-gutter: stable;

      & .notifications-inner {
        --inner-height: calc(var(--no-height) - 50px);
        min-height: var(--inner-height);
        padding-inline: calc(var(--p-inline) / 2);
        padding-bottom: var(--p-block);
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        & .notification-card:hover {
          outline: 1px solid var(--lemon-chiffon-03);
        }

        & .notification-card.hidden {
          display: none;
        }


        & .notification-card {
          display: grid;
          grid-template-columns: max-content 1fr 1fr 1fr 100px;
          grid-template-rows: 0px 1fr 0px;
          padding-inline: var(--p-inline);
          padding-block: var(--p-block);
          background: var(--card-clr);
          outline: 1px solid transparent;
          border-radius: 1rem; 
          transition: grid-template-rows 300ms ease-in-out,
                      outline 150ms ease-in-out;
          overflow: hidden;

          & .notification-sender {
            padding-right: 1rem;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
          }

          & .notification-sender {
            color: var(--font-clr-05);
          }
          
          & .notification-header {
            grid-row: 2 / 3;
            grid-column: 2 / 5;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 25px;
            padding: 0px;
            border-radius: 0px;
          }

          & .notification-timestamp {
            grid-row: 2 / 3;
            grid-column: 5 / 6;
            opacity: 0.7;
            text-align: right;
          }

          & .notification-content.hidden {
            grid-row: 3 / 4;
            grid-column: 2 / 6;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 0px;
            height: 0px;
            opacity: 0;
            padding: var(--p-block) var(--p-inline);
            border-radius: 1rem;
            background: var(--bg-clr);
            transition: background 500ms ease-in-out,
                        opacity 300ms ease-in-out,
                        height 200ms ease-in-out,
                        max-height 200ms ease-in-out;
          }


        }

        & .notification-card.expanded {
          grid-template-rows: 50px 50px 1fr;

          & .notification-content {
            grid-column: 2 / 6;
            grid-row: 3 / 4;
            max-height: calc(var(--inner-height) - 100px);
            padding: var(--p-block) var(--p-inline);
            border-radius: 1rem;
            background: var(--bg-clr);
          }
        }
      }
    }
  }
}
