#report-user-issue-form-container {
  & .yapp-form {
    & label {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      gap: var(--gap);
    }
    
    & .radio-outer-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & .radio-flex {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;

        & label[for^="radio"] {
          display: flex;
          flex-direction: column;
        } 
        
        & .input[type="radio"] {
          height: 20px;
          width: 20px;
        }
      }
    }

    & .input-btn-flex {
      width: 100%;
      display: flex;
      gap: var(--gap);
    }
  }
}

@media (width < 675px) {
  #report-user-issue-form-container {
    & .yapp-form {
      & .radio-outer-flex {
        flex-direction: column;
      }
    }
  }
}
