.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  background: var(--card-clr);
  padding-block: 3rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  gap: calc(var(--gap) * 2);
  opacity: 1;


  & .sidebar-list-flex,
  & .optional-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: var(--gap);
    padding: 0;
    margin: 0;

    & .sidebar-list-item {

      & .sidebar-list-icon {
        height: 3rem;
        width: 3rem;
        scale: 1;
        transition: scale 300ms ease-in-out;
      }
      
      & .sidebar-list-icon:hover {
        scale: 1.05;
      }
    }
  }

}
