.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  background: var(--card-clr);
  padding-block: 3rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  opacity: 1;
}
