.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: var(--font-clr);

  & .login-container {
    grid-template-rows: 50px 50px 100px 0px 0px;
    transition: grid-template-rows 300ms ease-in-out;
  }

  & .login-container.login-expanded {
    grid-template-rows: 50px 50px 0px 400px 0px;
  }

  & .login-container.create-account-expanded {
    grid-template-rows: 50px 50px 0px 0px 400px;
  }

  & input,
  & button {
    background: var(--card-clr);
    color: var(--font-clr);
    border-radius: 1rem;
    box-shadow: var(--shadow), var(--shadow-inset);
    transition: box-shadow 300ms ease-in-out;
  }

  & input:hover,
  & button:hover,
  & input:focus-visible,
  & button:focus-visible {
    box-shadow: var(--shadow-hover), var(--shadow-inset-hl), var(--shadow-inset-hover);
  }

  & .input {
    height: 50px;
    padding-inline: 1rem;
  }

  & button {
    cursor: pointer;
    pointer-events: auto;
    min-height: 50px;
    max-height: 80px;
    width: clamp(100px, 10rem + 10vw, 250px);
    padding: var(--p-block) var(--p-inline);
  }

  & button.hide {
    pointer-events: none;
  }

  & .login-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & .welcome-title {
      grid-column: 2 / 5;
      grid-row: 1 / 2;
      font-size: var(--fsz-30);
      text-align: center;
    }

    & .welcome-subtitle {
      grid-column: 2 / 5;
      grid-row: 2 / 3;
      text-align: center;
    }

    & .login-wrapper-btn {
      grid-column: 2 / 3;
    }

    & .create-account-wrapper-btn {
      grid-column: 4 / 5;
    }

    & .login-wrapper-btn,
    & .create-account-wrapper-btn {
      grid-row: 3 / 4;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    & .login-wrapper-btn.hide,
    & .create-account-wrapper-btn.hide {
      opacity: 0;
    }

    & .login-wrapper {
      grid-column: 2 / 5;
      grid-row: 4 / 5;
    }

    & .create-account-wrapper {
      grid-column: 2 / 5;
      grid-row: 4 / 5;
    }

    & .login-wrapper,
    & .create-account-wrapper {
      display: none;
      flex-direction: column;
      gap: var(--gap);
      opacity: 1;
      transition: opacity 300ms ease-in-out;

      & input {
        padding-inline: 1rem;
        min-height: 50px;
      }

      & .btn-wrapper {
        display: flex;
        gap: calc(var(--gap) * 2);
        align-items: center;
        justify-content: space-evenly;
        padding-block: var(--p-block);

        & button {
          min-height: 50px;
          min-width: 100px;
        }
      }

      & .display-error {
        color: var(--error-clr);
        text-align: center;
        margin-top: 1rem;
      }

    }

    & .login-wrapper.hide,
    & .create-account-wrapper.hide {
      opacity: 0;
    }
  }
}
